#!/bin/bash

{{ ansible_managed | comment }}

{% if luks_keyholders | length > 0 %}
echo
echo -e '{% for i in range(80) %}{{ loop.cycle("\033[31m","\033[32m","\033[33m","\033[34m") }}={% endfor %}\033[0m'
echo -e '\033[1mThis system has \033[31;1mLUKS-encrypted partitions\033[0;1m. Please coordinate\033[0m'
echo -e '\033[1mreboots with one of the following persons:\033[0m'
echo
{% for keyholder in luks_keyholders %}
echo -e '\033[1m  - \033[32;1m{{ keyholder }}\033[0m'
{% endfor %}
echo
echo -e '{% for i in range(80) %}{{ loop.cycle("\033[31m","\033[32m","\033[33m","\033[34m") }}={% endfor %}\033[0m'
echo
{% endif %}
