#!/usr/sbin/nft -f
{{ ansible_managed | comment }}

flush ruleset

{% for table in nftables_tables %}
table {{ table.proto }} {{ table.type }} {
{% for hook, chain in table.chains.items() %}
	chain {{ hook }} {
		type {{ table.type }} hook {{ hook }} priority {{ chain.priority|default(0) }}; policy {{ chain.policy|default('accept') }};
		
{% for rule in chain.rules | default([]) %}
		{{ rule }}
{% endfor %}
	}
{% endfor %}
}
{% endfor %}
